<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Shared/_Layout}"
      th:with="currentPage='home'">
<head>
    <title>Новый продукт</title>
    <link th:href="@{/css/ui/main-menu.css}" rel="stylesheet"/>
</head>
<body layout:fragment="content">
<div class="text-center">
    <h1 class="display-4">Новый продукт</h1>
</div>
<form method="post">
    <div class="mb-3">
        <label for="nameInput" class="form-label">Название</label>
        <input type="text" class="form-control" name="name" id="nameInput">
    </div>
    <div class="mb-3">
        <label for="skuInput" class="form-label">Артикул</label>
        <input type="text" class="form-control" name="sku" id="skuInput">
    </div>
    <div class="mb-3">
        <label for="qtyInput" class="form-label">Количество товара</label>
        <input type="text" class="form-control" name="quantity" id="qtyInput">
    </div>
    <div class="mb-3">
        <label for="costInput" class="form-label">Цена</label>
        <input type="text" class="form-control" name="cost" id="costInput">
    </div>
    <button type="submit" class="btn btn-primary">Создать продукт</button>
</form>
</table>
</body>
</html>