<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{Shared/_Layout}"
      th:with="currentPage='home'">
<head>
    <title>Главная</title>
    <link th:href="@{/css/ui/main-menu.css}" rel="stylesheet"/>
</head>
<body layout:fragment="content">
<div class="text-center">
    <h1 class="display-4">Список продуктов</h1>
</div>

<div>
    <a th:href="@{/create}" class="btn btn-primary">Создать продукт</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Артикул</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
        <th scope="col">Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}"/>
        <td th:text="${product.name}"/>
        <td th:text="${product.sku}"/>
        <td th:text="${product.quantity}"/>
        <td th:text="${product.cost} "/>
        <td th:text="${product.total} "/>
    </tr>
    </tbody>
</table>
</body>
</html>